.profile-list {
  list-style: none;
  padding: 0;

  &__second-row,
  &__first-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px;
  }

  &__name {
    margin: 0 0 12px;
    font-size: 1.5em;
    color: var(--primary-color);
    width: 40%;
  }

  &__description {
    font-size: 1.125em;
  }

  &__buttons-shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__actived-shelf {
    display: flex;
    align-items: center;
    gap: 4px;
  }

}