.button {
  background-color: var(--primary-color-light);
  color: white;
  cursor: pointer;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: .875rem;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover {
    background-color: var(--primary-color);
  }
}