html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* COMPONENTS */

.container {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.hide {
    display: none !important;
}

/* HEADER */

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__label {
    font-size: 16px;
    margin-right: 6px;
}

.header__menu,
.header__profiles,
.header__add-profile {
    align-items: center;
    display: flex;
}

.header__icon {
    border: 0;
    background: transparent;
    cursor: pointer;
    height: 18px;
    padding: 0;
    width: 18px;
    margin-left: 6px;
}

.header__icon img{
    width: 100%;
}

/* FIELDS */

.fields__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.fields__buttons {
    align-items: center;
    display: flex;
}

.fields__icon {
    background: none;
    border: none;
    max-width: 40px;
    margin-right: 12px;
    cursor: pointer;
}

.fields__icon img {
    width: 100%;
}

.fields__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.fields__values {
    resize: none;
    width: 30%;
}

.fields__remove-button {
    align-self: center;
    max-width: 22px;
}