.radio-wrapper {
  display: inline-flex;
  align-items: center;
  margin: 12px 12px 12px 0;

  &__label {
    align-items: center;
    display: flex;
    position: relative;

    &-text {
      font-size: 0.875rem;
      color: #bbb;
      margin: 0;
    }
  }

  &__input {
    width: 0;
    height: 0;
    margin: 0 16px 0 0;

    &:checked {
      &::before {
        border-color: var(--primary-color);
      }

      &::after {
        opacity: 1;
      }

      & + .radio-wrapper__label-text {
        color: var(--primary-color);
      }
    }

    &::before {
      content: "";
      border: 1px solid #bbb;
      border-radius: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 10px;
      height: 10px;
    }

    &::after {
      content: "";
      background-color: var(--primary-color);
      border-radius: 100%;
      display: block;
      position: absolute;
      left: 3px;
      top: 8px;
      width: 6px;
      opacity: 0;
      height: 6px;
    }
  }
}
