@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

:root {
  --primary-color-light: #00a8ff;
  --primary-color: #018fd9;
  --primary-color-dark: #0171ab;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  font-family: 'Shippori Antique B1', sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  width: 96%;
}